# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

/Users/ishetha/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [2]:
print(os.getcwd())

/Users/ishetha/Downloads/Step 2

In [3]:
os.chdir('/Users/ishetha/Downloads/Step 2/Data')
print(os.getcwd())

/Users/ishetha/Downloads/Step 2/Data

In [4]:
df = pd.read_csv("step3_output.csv")
df.head()

,Unnamed: 0,Name,Region,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,2,Hilltop Ski Area,Alaska,Alaska,2090,294,0,0.0,0,0,...,30.0,30.000000,150.000000,36.0,69.0,30.000000,34.00000,152.0,30.000000,0
1,4,Sunrise Park Resort,Arizona,Arizona,11100,1800,0,0.0,0,1,...,800.0,80.000000,115.000000,49.0,250.0,74.000000,78.00000,104.0,80.000000,1
2,5,Yosemite Ski & Snowboard Area,Northern California,California,7800,600,0,0.0,0,0,...,88.0,174.873239,110.000000,84.0,300.0,47.000000,47.00000,107.0,100.395722,1
3,10,Donner Ski Ranch,Sierra Nevada,California,8012,750,0,0.0,0,0,...,505.0,60.000000,163.000000,82.0,400.0,75.000000,75.00000,170.0,100.395722,1
4,12,June Mountain,Sierra Nevada,California,10090,2590,0,0.0,0,2,...,1500.0,174.873239,115.103943,58.0,250.0,57.916957,64.16681,128.0,100.395722,1

In [29]:
#df=df.drop('Unnamed: 0',axis=1)
#df.head()

In [7]:
df

,Name,Region,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,Alaska,2090,294,0,0.0,0,0,0,...,30.0,30.000000,150.000000,36.0,69.0,30.000000,34.00000,152.000000,30.000000,0
1,Sunrise Park Resort,Arizona,Arizona,11100,1800,0,0.0,0,1,2,...,800.0,80.000000,115.000000,49.0,250.0,74.000000,78.00000,104.000000,80.000000,1
2,Yosemite Ski & Snowboard Area,Northern California,California,7800,600,0,0.0,0,0,0,...,88.0,174.873239,110.000000,84.0,300.0,47.000000,47.00000,107.000000,100.395722,1
3,Donner Ski Ranch,Sierra Nevada,California,8012,750,0,0.0,0,0,0,...,505.0,60.000000,163.000000,82.0,400.0,75.000000,75.00000,170.000000,100.395722,1
4,June Mountain,Sierra Nevada,California,10090,2590,0,0.0,0,2,0,...,1500.0,174.873239,115.103943,58.0,250.0,57.916957,64.16681,128.000000,100.395722,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Hogadon Basin,Wyoming,Wyoming,8000,640,0,0.0,0,0,0,...,92.0,32.000000,121.000000,61.0,80.0,48.000000,48.00000,95.000000,100.395722,1
161,Sleeping Giant Ski Resort,Wyoming,Wyoming,7428,810,0,0.0,0,0,0,...,184.0,18.000000,61.000000,81.0,310.0,42.000000,42.00000,77.000000,100.395722,1
162,Snow King Resort,Wyoming,Wyoming,7808,1571,0,0.0,0,0,1,...,400.0,250.000000,121.000000,80.0,300.0,59.000000,59.00000,123.000000,110.000000,1
163,Snowy Range Ski & Recreation Area,Wyoming,Wyoming,9663,990,0,0.0,0,0,0,...,75.0,30.000000,131.000000,59.0,250.0,49.000000,49.00000,120.053004,100.395722,1
164,White Pine Ski Area,Wyoming,Wyoming,9500,1100,0,0.0,0,0,0,...,370.0,174.873239,115.103943,81.0,150.0,57.916957,49.00000,120.053004,100.395722,1

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [8]:
dfo=df.select_dtypes(include=['object']) # select object type columns
df = pd.concat([df.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)

In [10]:
df

,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,2090,294,0,0.0,0,0,0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
1,11100,1800,0,0.0,0,1,2,3,1,0,...,0,0,0,0,0,0,0,0,0,0
2,7800,600,0,0.0,0,0,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
3,8012,750,0,0.0,0,0,0,1,5,2,...,0,0,0,0,0,0,0,0,0,0
4,10090,2590,0,0.0,0,2,0,0,4,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,8000,640,0,0.0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
161,7428,810,0,0.0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
162,7808,1571,0,0.0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1
163,9663,990,0,0.0,0,0,0,1,3,1,...,0,0,0,0,0,0,0,0,0,1
164,9500,1100,0,0.0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1

In [240]:
#df = df.drop('state',axis=1)

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [13]:
import sklearn.preprocessing

In [14]:
# first we import the preprocessing package from the sklearn library
#from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['AdultWeekend'], axis=1)
X

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend']
y

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [15]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [16]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [17]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = lm.predict(X_test)
y_pred

array([51.55956955, 49.47682624, 57.75107924, 63.23921179, 58.42603867,
       69.73208398, 56.04703862, 41.21312485, 52.68432747, 64.92740488,
       51.27871119, 62.53081777, 70.05258109, 49.93230947, 43.01737817,
       41.14622357, 42.97035716, 33.07726991, 75.2683295 , 57.19414215,
       40.69767502, 47.49065753, 67.53164377, 38.77432153, 62.56034144,
       59.65992255, 58.36876964, 51.97488791, 39.1214498 , 67.53360038,
       36.80462664, 58.45083043, 65.52755403, 73.01877847, 59.05505966,
       37.77832918, 49.03350118, 34.94653689, 57.8642145 , 75.25487618,
       59.92652076, 45.17407153])

In [27]:
y_test

array([47.        , 49.        , 54.        , 59.        , 59.        ,
       71.        , 58.        , 55.        , 67.        , 65.        ,
       68.        , 57.        , 75.        , 42.        , 44.        ,
       33.        , 39.        , 38.        , 79.        , 64.16681004,
       39.        , 45.        , 79.        , 44.        , 65.        ,
       45.        , 59.        , 47.        , 38.        , 60.        ,
       39.        , 45.        , 68.        , 64.16681004, 55.        ,
       40.        , 49.        , 34.        , 35.        , 92.        ,
       59.        , 46.        ])

## Review Model Outcomes — Iterate over additional models as needed

In [18]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

In [21]:
from sklearn.metrics import explained_variance_score,mean_absolute_error
mean_absolute_error(y_test,y_pred)

5.6354063203201745

In [22]:
explained_variance_score(y_test,y_pred)

0.6755872608949345

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [23]:
lm.intercept_

18.239944908455783

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [24]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])

                      Coefficient
summit_elev          7.756993e-04
vertical_drop        2.554573e-03
trams                4.565456e-12
fastEight            2.897074e-11
fastSixes            2.381761e-12
...                           ...
state_Virginia       4.497386e+00
state_Washington     3.699951e-01
state_West Virginia  3.013015e+00
state_Wisconsin      1.837397e+00
state_Wyoming        2.438749e+00

[260 rows x 1 columns]

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [23]:
df=df.drop('vertical_drop',axis=1)

In [24]:
# first we import the preprocessing package from the sklearn library
#from sklearn import preprocessing
#from sklearn.preprocessing import StandardScaler
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['AdultWeekend'], axis=1)
X

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend']
y

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [25]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.25, random_state=1)

In [26]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [27]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = lm.predict(X_test)
y_pred

array([52.85403771, 51.93118351, 63.50814926, 63.98360472, 60.25619734,
       67.0961649 , 49.70451577, 39.96436805, 55.62817697, 61.39986805,
       54.48323383, 62.26899177, 70.649776  , 45.32854393, 41.09650524,
       37.67990442, 44.45696996, 35.04763226, 76.20839964, 57.59031275,
       39.04694185, 49.6810074 , 72.56498195, 40.68295024, 54.16908463,
       64.29837794, 53.92515176, 50.82426415, 37.48034324, 60.64036655,
       42.83755562, 61.68104334, 60.63238318, 67.10668865, 58.45650762,
       31.34657426, 51.69807393, 36.36484818, 59.69524906, 75.0823675 ,
       62.33657785, 50.38627818])

In [28]:
from sklearn.metrics import explained_variance_score,mean_absolute_error
mean_absolute_error(y_test,y_pred)

6.442108874603072

In [29]:
explained_variance_score(y_test,y_pred)

0.6291609245764471

In [30]:
lm.intercept_

11.844181774931883

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [31]:
df=df.drop('summit_elev',axis=1)

In [32]:
# first we import the preprocessing package from the sklearn library
#from sklearn import preprocessing
#from sklearn.preprocessing import StandardScaler
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['AdultWeekend'], axis=1)
X

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend']
y

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [33]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.25, random_state=1)

In [34]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [35]:
y_pred = lm.predict(X_test)
y_pred

array([53.81587204, 49.4135046 , 64.06157227, 63.33488012, 54.50497852,
       66.4781379 , 48.64586946, 39.01617366, 53.77000676, 63.79529366,
       53.82295538, 60.93952861, 69.95845899, 45.9669601 , 42.16976689,
       38.02025856, 48.46166534, 38.23175761, 81.4697819 , 57.84707219,
       39.59044272, 49.27599323, 71.20620702, 43.99052904, 54.41118305,
       62.56080704, 53.02545009, 56.37069676, 36.77533557, 59.79934867,
       41.60327519, 60.03934387, 58.13104229, 65.98477558, 57.98714168,
       31.38199014, 57.74220217, 34.74280234, 58.25324342, 74.49150085,
       63.0560266 , 49.69280597])

In [36]:
mean_absolute_error(y_test,y_pred)

6.652238990163276

In [37]:
explained_variance_score(y_test,y_pred)

0.6059922387867183

In [38]:
lm.intercept_

9.380236183127963

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [ ]:
Model1